* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 10px;
}
.shadow{
    box-shadow: 0 3px 10px #d4d4d4,0 1px 2px #d4d4d400;
}
/* 清除超链接默认样式 */
li{
    list-style: none;
}
/* 清除li默认样式 */
a{
    text-decoration: none;
    color: black;
}
/* 清除浮动影响 */
.clearfix{
    overflow: hidden;
}
/* wrapper负责居中效果 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}
/* header负责顶部 */
.header {
height: 43px;
/* background-color: aqua; */
border-bottom: 1px solid grey;
margin: 10px auto;
}
h1{
    float: left;
}
.navi-left {
float: left;
height: 43px;
margin: auto 20px;
/* background-color: green; */
}
.navi-left li{
    float: left;
    margin-right: 10px;
    /* background-color: gold; */
}
/* 文字内容 */
.navi-left li a{
    display: block;
    color: black;
    margin: 10px 20px;
    padding: 0 5px;
}
.navi-plus {
    float: left;
    margin: 5px 10px auto 200px;
    background-color: grey;
    padding: 5px 5px;
    color: orange;
}
.navi-phone{
    
    margin-top: 7px;;
}
.enterprise{
    display: block;
    float: left;
    border: 1px solid blue;
    margin: 5px 5px;
    padding: 5px;
    color: blue;
}
.navi-right{
    float: right;
    margin-top: 10px;
    color:gray;
    border-left: 1px solid gray;
    border-radius: 0;
    /* background-color: palegreen; */
}
.navi-right a{
    display: inline;
    color: black;
    margin:10px 5px;
}
/*  讨论区*/
.main{
    width: 1000px;
    height: 1000px;
    background-color: transparent;
    display: flex;
    border-radius: 0;
}
.left-part{
    /* background-color: green; */
    float:left;
    height: 100%;
    width: 750px;
    /* margin-right: 250px; */
}
/* .right-part{
    border-radius: 0;

} */
/* .discussion{
    float: left;
} */
.discussion li{
display: inline-block;
width: 350px;
height: 150px;
/* background-color: darkblue; */
margin-right: 15px;
padding: 10px 5px;
}

/* .question{
    float: left;
    width: 300px;
    height: 150px;
    background-color: wheat;
} */
/* .question>a{
    color:gray;
} */


/* 讨论区样式 */
/* .choose{
    float: right;
    width: 200px;
    height: 70px;
    background-color: olive;
    margin-top: 100px;
} */
.user-bottom{
    display: flex;
    margin-top: 20px;
}
.user-hot{
    display: inline-block;
    background-color: #d6a510;
    color: #e28e0fd6;
    margin-left: 15px;
}
.user{
display: flex;
flex-wrap: nowrap;
flex-direction: row;
}
.user-img img{
    width: 15px;
}
.user-num-1{
    display: flex;
    font-size: 12px;
    margin-right: 2px;
}
.user-num-2{
    display: flex;
    font-size: 12px;
    color: gray;
}
.user-enter{
    position: relative;
    right: -100px;
    color: blue;
}

/* 面试题区样式 */
.question li{
    
    display: inline-block;
    width: 160px;
    height: 160px;
    /* background-color: rgb(218, 33, 184); */
    margin: 0 7px;
    box-shadow: 0 3px 10px #d4d4d4,0 1px 2px #d4d4d400;
}
.question h3{
    margin: 10px;
}
.question-img{
    height: 25px;
    
}
.question-more{
    position: relative;
    left: 550px;
    font-size: 15px;
    color:  gray;
}
.company img{
    width: 50px;
    margin: 5px 10px;
}
.company-name{
    margin: 5px 10px;
}
.company-hot{
    font-size: 15px;
    color: grey;
    margin: 5px 10px;
}
.company-num{
    width:10px;
    color:greenyellow;
}
.company-discuss{
    display: flex;
    margin: 10px 10px;
    background-color: #73d1ea;
    padding: 2px 2px;

}
.company-discuss img{
    width: 16px;
    margin-right: 10px;
}
.company-discuss span{
    font-size: 16px;
    color: #1296db;
    margin-left: 5px;
}
.company-user{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 16px;
}
.company-user div{
    width: 12px;
}
/* 文章区样式 */

.article li{
    width: 720px;
    height: 150px;
    /* background-color: #077979; */
    border-top: 1px solid gray;
    margin: 10px 10px;
    border-radius: 0;
    flex-direction: column;
}
.article-img{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.article-img>a>img{
    margin-left: 10px;
    margin-top: 20px;
    width: 200px;
    height: 120px;
}
.article-title{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.article-title img{
    width: 25px;
    margin-top: 5px;
    margin-left: 15px;
}
.article-title span{
    margin:0 10px;
}
.article-min{
    color: gray;
    margin-right: 10px;
    font-size: 15px;
}
.article-text{
    margin:15px 10px;
    color:grey;

}
.article-bottom{
    display: flex;
    margin: 0 10px;
}
.article-series{
    
    font-size: 12px;
    background-color: #c2f7f7;
    padding: 2px 2px;
    margin-right: 5px;
}
.article-series a{
    color: #1afa29;
}
.article-bottom img{
    width:  12px;
}
.article-tag{
    margin: 0 10px;
    background-color: #d4d4d4;
    
    font-size: 12px;
    padding: 2px 2px;
}
.article-tag a{
    color: grey;
}
.article-more{
    
    text-align: center;
    background-color: #d4d4d4;
    width: 200px;
    height: 30px;
}

/* 搜索栏样式 */
.search{
    display: flex;
    float: right;
    width: 250px;
    height: 50px;
    border: 1px solid white;
    /* background-color: brown; */
}
.search img{
    width: 25px;
    margin: 10px 10px;
}
.search-text{
    color: grey;
    border: 1px solid white;
    font-size: 15px;
    width: 200px;
}
.result-list{
    display: none;
    float: right;
    width: 200px;
    border-top: 0;
    background: #fff;
}
.search-text.active{
    border: 1px solid #162bcf;
}
/* 轮播图 */
.banner{
float:right;
width: 250px;
height: 120px;
margin: 10px 0;
position: relative;
}
.banner-item-list{
    width: 250px;
    height: 120px;
    position: relative;
}
.banner-item{
    width: 100%;
    height: 100%;
    /* list-style: none; */
    position: absolute;
    opacity: 0;
    transition: all .8s;
}
.banner-item img{
    width: 100%;
    height: 100%;
}
.banner-item.active{
    z-index: 10;
    opacity: 1;
}
.banner-point-list{
    position: absolute;
    z-index: 200;
    bottom: 3px;
    right: 100px;
}
.point{
    width: 8px;
    height: 8px;
    background-color: rgba(103, 103, 103, 0.749);
    border-radius: 100%;
    float: left;
    margin-right: 8px;
    
    cursor: pointer;

}
.point.active{
    width: 12px;
    height: 12px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    float: left;
    margin-right: 8px;
    border:2px solid rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.8s;
}


/* 广告区样式 */
.ad{
    float: right;
    width:250px;
    height: 120px;
    background-color: #743939;
    margin: 10px 0;
}
/* 两个入口样式 */
.enter{
    float: right;
    display: flex;
    width:250px;
    height: 50px;
    padding: 3px;
    /* background-color: #46a3a8; */
    padding: 15px;
}
.enter-dis{
    color: #1afa29;
    font-size: 20px;
    text-align: center;
    flex: 1 1 0;
}
.enter-dis img{
    width: 20px;
}
.enter-int{
    color: #d4237a;
    text-align: center;
    font-size: 20px;
    flex: 1 1 0;
}
.enter-int img{
    width: 20px;
}



/* 热门排名样式 */
.rank1{
float: right;
width: 250px;
margin: 10px 0;

}
.rank-head{
    margin: 20px;
}
.rank-row{
    display: flex;
    height: 50px;
    margin: 10px 0;
    
    
}
.rank-num{
    margin-right: 5px;
    margin-left: 10px;
}
.rank-num-t{
    margin-right: 5px;
    margin-left: 10px;
    color: orange;
}
.rank-title{
    display: flex;
    font-size: 15px;
    justify-content: space-around;
}
.rank-title-t{
    display: flex;
    font-size: 15px;
    justify-content: space-around;
}
.rank-title div{
    width: 160px;
}
.rank-title-t div{
    width: 180px;
}
.rank-title img:first-child{
    width: 20px;
    height: 20px;
    margin: 0 3px;
}
.rank-title img:last-child{
    width: 14px;
    height: 14px;
    margin: 0 3px;
}
.rank-title-t img:last-child{
    width: 14px;
    height: 14px;
    margin: 0 3px;
}
.rank-text{
    color: gray;
    height: 20px;
    font-size: 13px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 版权页 */
footer{
    background-color: black;
    height: 350px;
    position: relative;
    top: 300px;
    border-radius: 0;
}
.footer-bassic{
    margin: 0 auto;
}
nav{
    border-bottom: 1px solid rgba(255, 255, 255, 0.463);
    border-radius: 0;
}
.nav-sort{
    display: flex;
    flex-direction: row;
    padding: 20px 50px;
    max-width: 960px
}
.nav-sort div{
    width: 25%;
}
.nav-head{
    display: block;
    color: white;
    
}
.nav-a{
    display: block;
    color: rgba(255, 255, 255, 0.463);
    margin: 10px 0;
}
.nav-media{
    float: right;

}
.nav-img{
    
}