* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 清除超链接默认样式 */
li{
    list-style: none;
}
/* 清除li默认样式 */
a{
    text-decoration: none;
    color: black;
}
/* 清除浮动影响 */
.clearfix{
    overflow: hidden;
}
/* wrapper负责居中效果 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}
/* header负责顶部 */
.header {
height: 43px;
background-color: aqua;
border-bottom: 1px solid grey;
margin: 10px auto;
}
h1{
    float: left;
}
.navi-left {
float: left;
height: 43px;
margin: auto 20px;
background-color: green;
}
.navi-left li{
    float: left;
    margin-right: 10px;
    background-color: gold;
}
/* 文字内容 */
.navi-left li a{
    display: block;
    color: black;
    margin: 10px 20px;
    padding: 0 5px;
}
.navi-plus {
    float: left;
    margin: 5px 10px auto 200px;
    background-color: grey;
    padding: 5px 5px;
    color: orange;
}
.enterprise{
    display: block;
    float: left;
    border: 1px solid blue;
    margin: 5px 5px;
    padding: 5px;
    color: blue;
}
.navi-right{
    float: right;
    margin-top: 10px;
    color:gray;
    border-left: 1px solid gray;
    background-color: palegreen;
}
.navi-right a{
    display: inline;
    color: black;
    margin:10px 5px;
}
/*  讨论区*/
.main{
    width: 1000px;
    height: 1000px;
    background-color: transparent;
}
.left-part{
    background-color: green;
    float:left;
    height: 100%;
    width: 750px;
    /* margin-right: 250px; */
}
/* .right-part{
    height: 100%;
    background-color: red;
} */
/* .discussion{
    float: left;
} */
.discussion li{
display: inline-block;
width: 350px;
height: 150px;
background-color: darkblue;
margin-right: 15px;
padding: 10px 5px;
}

/* .question{
    float: left;
    width: 300px;
    height: 150px;
    background-color: wheat;
} */
/* .question>a{
    color:gray;
} */


/* 讨论区样式 */
/* .choose{
    float: right;
    width: 200px;
    height: 70px;
    background-color: olive;
    margin-top: 100px;
} */
.user-bottom{
    display: flex;
    margin-top: 20px;
}
.user-hot{
    display: inline-block;
    background-color: #d6a510;
    color: #e28e0fd6;
    margin-left: 15px;
}
.user{
display: flex;
flex-wrap: nowrap;
flex-direction: row;
}
.user-img img{
    width: 15px;
}
.user-num-1{
    display: flex;
    font-size: 12px;
    margin-right: 2px;
}
.user-num-2{
    display: flex;
    font-size: 12px;
    color: gray;
}
.user-enter{
    position: relative;
    right: -100px;
    color: blue;
}

/* 面试题区样式 */
.question li{
    
    display: inline-block;
    width: 160px;
    height: 160px;
    background-color: rgb(218, 33, 184);
    margin-left: 15px;
}
.question h3{
    margin: 10px;
}
.question-img{
    height: 25px;
    
}
.question-more{
    position: relative;
    left: 550px;
    font-size: 15px;
    color:  gray;
}
.company img{
    width: 50px;
    margin: 5px 10px;
}
.company-name{
    margin: 5px 10px;
}
.company-hot{
    font-size: 15px;
    color: grey;
    margin: 5px 10px;
}
.company-num{
    width:10px;
    color:greenyellow;
}
.company-discuss{
    display: flex;
    margin: 10px 10px;

}
.company-discuss img{
    width: 16px;
    margin-right: 10px;
}
.company-discuss span{
    font-size: 16px;
    color: #1296db;
    margin-left: 5px;
}
.company-user{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 16px;
}
.company-user div{
    width: 12px;
}
/* 文章区样式 */

.article li{
    width: 720px;
    height: 150px;
    background-color: #077979;
    border-top: 1px solid gray;
    margin: 0 10px;
}

.article-title{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.article-title img{
    width: 25px;
    margin-top: 5px;
    margin-left: 15px;
}
.article-title span{
    margin:0 10px;
}
.article-min{
    color: gray;
    margin-right: 10px;
    font-size: 15px;
}
.search{
    float: right;
    width: 200px;
    height: 50px;
    background-color: brown;
}
.banner{
float:right;
width: 200px;
height: 100px;
background-color: burlywood;
margin-top: 20px;
}
.rank{
float: right;
width: 200px;
    
}
.rank li{
    height: 50px;
}